header{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 1000;
    background: var(--bright-red);
}

header li, a, button{
    font-weight: 600;
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.logo a{
    color: var(--white);
    font-size: 18px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    color: var(--white);
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #cccccc;
}

.nav-links li a:active{ 
    color: #cccccc;
}

button{
    background-color: black;
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#log-in button:hover{
    background: #333;
}

#sign-up button:hover{
     background: #333;
}

.profile img {
    max-width: 40px;
}

/* Toggle Container */
.off-canvas-toggle {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

/* Caret Arrow */
.off-canvas-caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--white);
    transition: transform 0.3s ease;
}

.off-canvas-caret.rotate {
    transform: rotate(180deg);
}

/* Menu Panel from Top */
/* Off-canvas menu container */
#off-canvas-menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background: var(--bright-red);
    padding: 1em 1em;
    z-index: 999;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.5);
}

/* Show menu below header */
#off-canvas-menu.show {
    top: 60px;
}

/* Menu list */
#off-canvas-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Menu items as plain links */
#off-canvas-menu li {
    padding: 0.75em 0;
    border-bottom: 1px solid var(--white);
}

#off-canvas-menu li:hover {
    background-color: #373958;
}

#off-canvas-menu li:last-child {
    border-bottom: none;
}

#off-canvas-menu a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    display: block;
    width: 100%;
    font-weight: 600;
}

.profile {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 0.5em;
}

.profile .dropdown {
  display: block;
}

@media (max-width: 880px) {
    .menu-default{
        display: none;
        opacity: 0;
    }

    .logo a{
        font-size: 14px;
    }
}

@media (min-width: 881px){
    #off-canvas-toggle{
        display: none;
        opacity: 0;
    }

    #off-canvas-menu{
        display: none;
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    header{
        padding: 30px 1%;
    }
}