:root {
  --darkgrey: #212339;
  --bright-red: crimson;
  --white: #ffffff;
  --font-base: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgrey); 
  padding: 5rem 1rem; 
  min-height: 100vh;
}

.main-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  /* min-height: 100vh; */
}

.signup-form { 
  width: 100%; 
  /* max-width: 314px; */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.25rem;
}

.form-group label {
  color: var(--white);
  font-size: 1rem;
}

.form-group input { 
  padding: 0.5rem; 
  border: none; 
  border-radius: 4px; 
  font-size: 1rem; 
  justify-content: center;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 2.5em; /* Make space for the icon */
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1.2em; /* Adjust size if needed */
  line-height: 1;
}

.main-contents {
  min-width: 250px;
  max-width: 400px;
  width: 50%;
}

.main-contents h1 { 
  color: var(--white); 
  font-size: 1.5rem; 
  margin-bottom: 0.75rem; }

.main-btn {
  display: inline-block;
  font-size: 1rem;
  background: var(--bright-red);
  color: var(--white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.main-btn:hover {
  background: darkred;
}

.main-btn a {
  color: inherit;
  text-decoration: none;
}

.main-img-container img { 
  width: 80%; 
  max-width: 300px; 
  height: auto; }

.error-message{
  color: var(--bright-red);
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

#successMessage h1,
#successMessage p{
  color: var(--white);
}

#successMessage a{
  color: var(--bright-red);
}

#login{
  color: var(--white);
}

#login a{
  text-decoration: none;
  color: var(--bright-red);
}

/* Tablet */
  @media (min-width: 601px) {
  .main-container {
    /* flex-direction: row; */
    max-width: 800px;
    gap: 3rem;
    /* min-height: 100vh; */
  }
  .main-contents h1 {
    font-size: 2.25rem;
  }
  .main-contents p {
    font-size: 1.1rem;
  }
  .main-img-container img {
    max-width: 200px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  /* .main-container { min-height: 90vh; width: 80%; gap: 2rem; } */
  .main-contents h1 { font-size: 2rem; }
  .form-group input { font-size: 1.2rem; }
  .main-img-container img { max-width: 500px; }
}
  